*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    /* width: 90%; */
    width: 80%;
    margin: auto;
}
.container nav{
    background-color: white;
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    padding: 15px;
    /* position: fixed; */
}
.title{  
    display: flex;
    width: 20%;
    /* border: 1px solid red; */
    justify-content: left;
    align-items: center;
    /* font-size: 20px; */
}
.menu{
    display: flex;
    width: 50%;
    /* border: 1px solid purple; */
    width: 60%;
    margin-left: 20%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}
#home{
    color: lightblue;
}
#sea_i{
    width: 40px;
    right: 10px;
    /* border: 1px solid red; */
    bottom: 10px;
    position: fixed;
}
.menu > a{
    color: black;
}
.icon{
    /* border: 1px solid blue; */
    width: 10%;
    text-align: right;
    line-height: 50px;
}
i{
    margin: 0 5px;
}

.submenu{
    /* height: 0; 
    overflow: hidden; */
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    top:10%;
    right: 8%;
    transition: all 0.8s;
}
.page{
    padding: 20px 0;
    
}
/* '.pages'로 수정 */
.pages:hover + .submenu /*형제요소 이므로 +붙여서 선택*/
{
    display: block;
   
}
.submenu .sub{
    display: block;
    padding: 5px 10px;
    
}
/* .submenu .sub:hover{
    background-color: black;   
} */
a:hover{
    color: lightblue;
}
.back{
    background-color: rgb(230, 229, 229);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.text{
    width: 40%;
    flex-wrap: wrap;
    margin: 0 25px;
    
}
.text p{
    font-size: 70px;
    margin-bottom: 10px;
}
.text button{
    font-size: 15px;
    padding: 10px;
    background-color: rgb(59, 58, 58);
    color: white;
    border: none;
}
.imp{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
.imp div {
    width: 25%;
    display: flex;
    /* flex-direction: row; */
    
}
.imp div >div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
div h4{
    padding: 10px 0;
    font-size: 25px;
}
.imp div p{
    padding: 10px;
    line-height: 30px;
    color: gray;
}
.imp div > i{
    color:lightblue;
    font-size: 30px;
    padding: 25px 10px;
}

footer{
    /* display: flex; */
    width: 80%;
    margin: 0 auto;
    color: grey;
    align-items: center;
    border-top: 1px solid grey;
}
.Foot{
    display: flex;
}
.foo_1{
    width: 25%;

}
.foo_2, .foo_3{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.foo_4{
    width: 25%;
}
.foo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
}
.f_1{
    margin: 10px;
}

p > .ssspa:hover {
    color: lightblue;
}
.Foot a:hover {
    color: lightblue;
}