*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    /* width: 90%; */
    width: 60%;
    margin: auto;
}


footer{
    /* display: flex; */
    width: 80%;
    margin: 0 auto;
    color: #222;
    align-items: center;
    border-top: 1px solid #222;
}

.Foot{
    display: flex;
}
.foo_1{
    width: 25%;
}
.foo_1_p{
    padding: 10px 5px 15px 0;
}
.foo_1_i > i{
    padding: 0 5px;
}
.foo_2, .foo_3{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.foo2{
    display: flex;
    text-align: left;
}
.foo_2_d{
    display: flex;
    flex-direction: column;
}
.right{
    padding-left: 50px;
}
.foo_2_d > a{
    color:#222;
    padding: 5px 0;
}
.foo_3 > a{
    color:#222;
    padding: 2px 0;
}
.foo_4{
    width: 25%;
}
.foo_4_p{
    padding: 5px 5px 10px 0;
}
.foo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #222;
}
.f_1{
    margin: 10px;
}

p > .ssspa:hover {
    color:#384aeb;
}
.Foot a:hover {
    color:#384aeb;
}